<div>
    <h1 class="titleViewProd">Tus productos</h1>
    <h1 class="titleAddProd">Agregar un producto</h1>
    <div id="allContainer">
        <div id="prodContainer">
                <input type="text" name="title" id="title" placeholder="Title">
                <input type="number" name="price" id="price" placeholder="Price">
                <input type="text" name="thumbnail" id="thumbnail" placeholder="Link imagen">
                <button id="btnEnviar">Enviar</button>
            <table id="tablaProds">
                <tr>
                    <td>Id</td>
                    <td>Title</td>
                    <td>Price</td>
                    <td>Img</td>
                </tr>
            </table>
        </div>
        <div id="chatContainer">
                <h5>message</h5>   
                <input type="text" id="messageField">
                <h5>email</h5>
                <input type="text" id="emailField">
                <h5>historial de mensajes</h5>
                <div id="contMensajes">
                </div>
        </div>
    </div>
</div>